.chef-card {
    display: flex;
    gap: 30px;
}

.chefs-title {
    font-size: 40px;
    font-weight: 600;
}

.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-prime-light), -16px 16px 0 2px #A18268;
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}